{% comment %}
{% endcomment %}

<div class="container">
	<button type="button" class="btn btn-default btn-md list-group-item" data-toggle="modal" data-target="#myModal{{ contact.id }}">
		<span class="glyphicon glyphicon-user"></span> {{ contact }}</button>

		<div class="modal fade" id="myModal{{ contact.id }}" role="dialog">
			<div class="modal-dialog modal-lg">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">
							{{ contact }}{% for job in contact.job_set.all %}, {{ job.situation }}	chez <a href="#"><span class="glyphicon glyphicon-briefcase"></span>{{ job.companies }}</a>
						{% endfor %}</h4>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="container">
									{% if contact.address_1 or contact.address_2 or contact.zipcode or contact.city %}
										{% if contact.address_1 %}{{ contact.address_1 }}<br>{% endif %}
										{% if contact.address_2 %}{{ contact.address_2 }}<br>{% endif %}
										{% if contact.zipcode %}{{ contact.zipcode }}<br>{% endif %}
										{% if contact.city %}{{ contact.city }}<br>{% endif %}
										<br>
									{% endif %}

									{% if contact.telephone or contact.telephone_pro or contact.telephone_mobile %}
										{% if contact.telephone %}<strong>Téléphone: </strong>{{ contact.telephone }}<br>{% endif %}
										{% if contact.telephone_pro %}<strong>Téléphone professionnel: </strong>{{ contact.telephone_pro }}<br>{% endif %}
										{% if contact.telephone_mobile %}<strong>Téléphone mobile: </strong>{{ contact.telephone_mobile }}<br>{% endif %}
										{% if contact.fax %}<strong>Fax: </strong>{{ contact.fax }}<br>{% endif %}
										<br>
									{% endif %}

									{% if contact.email or contact.website %}
										{% if contact.email %}<strong>Email: </strong>{{ contact.email }}<br>{% endif %}
										{% if contact.website %}<strong>Site web: </strong>{{ contact.website }}<br>{% endif %}
										<br>
									{% endif %}
							</div>
							<div class="container">
								{{ contact.note }}
							</div>

						</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-edit"></span></button>
					<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-trash"></span></button>
				</div>
			</div>

		</div>
	</div>

</div>
